{% extends 'project_base.html' %}

{% block title %}
    Tag Update
{% endblock %}

{% block content %}
    <h3>{{ tag.title }}</h3>
    <form action="{{ tag.get_update_url }}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">

                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

                {{ field.label }}
                {{ field }}
            </div>

        {% endfor %}

        <button type="submit" class="btn btn-primary">Update Tag</button>
    </form>

{% endblock %}